@import 'base';
@import 'vendor/normalize';

div.logo-row {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;

  img {
    width: 250px;
    margin: 25px;
  }
}

a.btn-import {
  margin-left: 15px;
}
