@import 'base';
@import 'vendor/normalize';

div.content {
  min-height: 400px;
}

div.logo-row {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;

  img {
    width: 80px;
    margin: 5px;
  }
}

a.btn-import {
  margin-left: 15px;
}

a.reactable-previous-page, a.reactable-page-button {
  margin-right: 10px;
}

.loader {
  padding: 150px;
  background: white;
}

// TYPOGRAPHY
body { font-size: 16px; }
h1, h2, h3 { margin-bottom: 10px; } // same as <p>
hr { margin: 30px 0; }
p.back-link {
  font-size: 80%;
  line-height: 0.8em;
  margin-bottom: 0px;
}
