@import 'base';
@import 'vendor/normalize';

div.content {
  min-height: 400px;
}

div.logo-row {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;

  img {
    width: 250px;
    margin: 25px;
  }
}

a.btn-import {
  margin-left: 15px;
}

a.reactable-previous-page, a.reactable-page-button {
  margin-right: 10px;
}
