.dashboard-body nav {
    margin-bottom: 0;
}

.input-row {
    padding: 5px 0 5px 0;
    font-size: 0.6em;
    color: white;
    background-color: #0c66d1;
}

.input-row:nth-child(2n) {
    background-color: #11d39c;
}

.input-row label {
    margin: 5px 0 5px 0;
}

.input-row .form-group {
    padding: 0 10px 0 10px;
}

.input-row input {
    text-align: center;
    font-size: 3em;
    height: auto;
    padding: 0 0 2px 0;
}

.precinct-data-row {
    background-color: #eee;
    padding: 12px 0 12px 0;
}

.precinct-data-item {
    font-weight: bold;
    color: #666;
}

@media (max-width: 600px) {
    .input-row label {
        font-size: 9px;
    }
}