.navbar {
    color: white;
    background-color: #0c66d1;
}

.navbar p {
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-top: 15px;
}

.cc-logo {
    width: 85%;
    margin-top: 5px;
}

.signout-btn {
    width: 70%;
    height: 30px;
    margin-top: 8px;
    font-size: 0.8em;
}

.signout-btn p {
    padding: 3px 0 0 0;
}